.navigation
  display: flex
  justify-content: space-between
  background: #1D2025
  padding: 17px 24px
  &__logotype
    height: 40px
    margin-right: 22px
  &__links
    display: flex
    align-items: center
    &_item
      display: grid
      grid-auto-flow: column
      grid-column-gap: 32px
    &_link
      color: #fff
      font-style: normal
  &__user
    display: flex
    padding: 10px 0
  &__account
    display: flex
    align-items: center
    margin-right: 30px

  &__avatar
    margin-right: 8px
    width: 32px
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden

    img
      border-radius: 8px

  &__nickname
    margin-right: 8px
    color: #ffffff

  &__dropIcon

  &__hamburger
    display: grid
    grid-row-gap: 6px
    width: 40px
    &_item
      height: 3px
      background: #ffffff
      border-radius: 4px


@media screen and (max-width: 1440px)
  .navigation
    &__links
      &_item
        display: none